


body{
    height: 100%;
    background-image: url("../images/regm3.JPG");
    background-image:no-repeat;
 
}

h1{
    color: beige;
}
p{
    color: bisque;
}
label.required{color: silver;}
legend.required{color: skyblue;}

.bg{

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
}